body{
    margin: 0;
    background: url(../img/1.webp);
}

header{
    width: 100%;
    height: 50px;
    background: rgb(91, 75, 200);;
}

menu{
    margin: 0;
}

menu a{
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255,255,255);
    font-size: 20px;
    line-height: 2.5;
    height: 100%;
}

menu a:hover{
    transition: 1s;
    background: rgb(104, 90, 199);
}