@font-face{
    font-family: 'Cairo';
    src: url(../../fonts/Cairo-Regular.ttf);
}

body{
    margin: 0;
    font-family: 'Cairo';
    background: url(../../img/space.jpg);
    background-size: cover;
}

a:visited{
    color: inherit;
}

h1{
    display: inline-block;
    margin: 0;
    color: rgb(19, 218, 218);
    text-shadow: 1px 1px 4px rgb(24, 165, 165);
}

h1 span:first-of-type{
    border-top: solid 3px rgb(19, 218, 218);
}

h1 span:last-of-type{
    border-bottom: solid 3px rgb(19, 218, 218);
}

.h1-border{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    border-left: solid 3px rgb(19, 218, 218);
    border-right: solid 3px rgb(19, 218, 218);
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

header{
    width: 100vw;
    background: red;
}

.menu{
    min-width: 360px;
    max-width: 960px;
    width: 70%;
    margin: 0 auto;
}

ul{
    width: 100%;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    list-style: none;
}

li{
    margin: 5px 0 5px 0;
    color: rgb(19, 218, 218);
    font-size: 20px;
    padding: 5px;
    border: solid 1px rgb(19, 218, 218);
    transition: .1s;
    background: rgba(54, 117, 153, 0.2);
}

li a{
    width: 100%;
    display: block;
}

li:hover{
    transform: scale(1.03);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 360px;
    max-width: 960px;
    width: 70%;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 10px;
}

footer{
    background: red;
    width: 100vw;
}