@font-face{
    font-family: "MyriadPro";
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/MyriadProRegular.ttf");
}

body{
    background: url(../../img/1.webp);
}

main{
    margin: 10px auto;
    width: 600px;
    background: linear-gradient(125deg, rgb(54,81,217),
    rgb(207,56,148));
    font-family: MyriadPro;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    color: white;
}
    
h2{
    text-shadow: 0px 0px 5px white;
}

.first-p{
    font-size: 17px;
}

p{
    color: #fdbcfd;
    text-align: justify;
}

img{
    display: block;
    max-width: 500px;
    margin: 0 auto;
}

div{
    padding: 10px 50px 50px 50px;
}

button{
border: none;
padding: 10px;
font-weight: bold;
color: white;
border-radius: 5px;
}

.order_btn{
    background: #5d72e8;
    margin-right: 10px;
}

.more_btn{
    background: #fa643b;
}