@font-face{
    font-family: Lato;
    src: url(../../fonts/Lato-Regular.ttf);
}

@font-face{
    font-family: 'Oswald';
    src: url(../../fonts/Oswald-Medium.ttf);
}

body{
    margin: 0;
}

.container{
    width: 70%;
    min-width: 300px;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

header, main, footer{
    
    margin: 15px;
}

ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0px;
}

header li:not(:first-child){
    margin-left: 10px;
    font-size: 20px;
}

li:first-child{
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;
}

footer li:first-child{
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

footer ul{
    justify-content: center;
}

footer li{
    padding: 0 5px 0 5px;
}

footer li:not(:first-child){
    border-left: solid 2px black;
}

main{
    flex-grow: 1;
}

p{
    text-align: justify;
}

/******************/

.item{
    width: 300px;
    height: 485px;
    font-family: 'Lato';
    background: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px gray;
    box-sizing: border-box;
    margin: 5px;
}

.photo{
    height: 200px;
    background: url(../../img/additional_hw6/1.jpg);
    background-size: cover;
}

.date{
    margin: 0;
    line-height: 40px;
    text-align: center;
    background: #f5f5f5;
    font-weight: bold;
}

h3{
    font-family: 'Oswald';
    text-align: center;
    margin: 2px 0;
}

.more{
    padding: 10px;
    padding-top: 0;
    color: #9c9c9c;
}

.rate{
    width: 110px;
    margin: 10px auto;
}

.footer{
    background: black;
    color: #cfcbc8;
    vertical-align: bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

a{
    color: #000;
}

.fa-star, .fa-star-half-alt{
    color: #ffa400;
}

.item-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}