h1, div span:last-child, a + a, ol li, b + span + span{
    color: green;
}

div > span:first-child, [title], ul>li:nth-of-type(2n+1){
    color: red;
}

div > span:nth-child(2){
    background-color: yellow;
}


ol li:nth-child(odd){
    color: blue;
}

.special, ol li:last-child{
    color: orange;
}

b, ul li:last-child{
    color: violet;
}

b + span{
    color: lightblue;
}

ul>li:nth-of-type(2n+2){
    background: yellow;
}

p+ div + div{
    color: pink;
}

ol li:nth-child(4){
    background: gray;
}